@model EstoqueProdutos.Models.Supplier

@{
    ViewData["Title"] = "Create Supplier";
}

<h2>Create Supplier</h2>

@* Adiciona validação com jQuery (essencial para o formulário funcionar!) *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<form asp-action="Create" method="post">
 @Html.AntiForgeryToken() <!-- ESSENCIAL -->
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to list</a>
